<!--  
    Team Members: Adam Bonny, Adam Gao, Bryson Shanklin, Garrett Sackley, David Hamblin, Matt Bleazard
    IS 303 Professor Hilton Section 001
    Project 3 Vehicle Inventory System  
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
        <title>Display Vehicles</title>
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 12.5%;text-align:left">Delete</th>
                    <th style="width: 12.5%;text-align:left">Vehicle ID</th>
                    <th style="width: 12.5%;text-align:left">Description</th>
                    <th style="width: 12.5%;text-align:left">Type</th>
                    <th style="width: 12.5%;text-align:left">Year</th>
                    <th style="width: 12.5%;text-align:left">Mileage</th>
                    <th style="width: 12.5%;text-align:left">Still Using?</th>
                    <th style="width: 12.5%;text-align:left">Edit</th>
                </tr>
            </thead>
            <tbody>
                <% for (let iCount = 0; iCount < myVehicles.length; iCount++) { %>
                    <tr>
                        <td>
                            <form action="/deletevehicle/<%= myVehicles[iCount].vehicle_id %>" method="POST">
                                <input type="submit" value="Delete" name="Delete">
                            </form>
                        </td>
                        <td><%= myVehicles[iCount].vehicle_id %></td>
                        <td><%= myVehicles[iCount].vDescription %></td>
                        <td><%= myVehicles[iCount].vType %></td>
                        <td><%= myVehicles[iCount].vYear %></td>
                        <td><%= myVehicles[iCount].vMileage %></td>
                        <td><%= myVehicles[iCount].vStillUsing %></td>
                        <td id="edit <%=iCount %>"><button>Edit</button></td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <button>Add a Vehicle</button>
    </body>
</html>    
