<!--  
    Team Members: Adam Bonny, Adam Gao, Bryson Shanklin, Garrett Sackley, David Hamblin, Matt Bleazard
    IS 303 Professor Hilton Section 001
    Project 3 Vehicle Inventory System  
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <title>Vehicle Inventory</title>
        <style>
            header {
                height: 10vh;
                background-color:#42536d;
                font-family: "RooneySans-Medium", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
            }

            footer {
                position: block;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: #b0a393;
                color: white;
                text-align: center;
                height: 15vh;
            }

            span {
                display: flex;
                flex-flow: column wrap;
            }

            span div {
                flex: 1;
            }

            span div:first-child {
                margin-top: 1vh;
            }

            button {
                margin-left: 5vh;
                margin-bottom: 5vh;
                background-color: rgba(66,83,109,255);
            }

            button:hover {
                background-color: #272236;
            }

            h1 {
                color: #8d9c95;
            }

            thead {
                background-color: #89a0ae;
            }

            th {
                color: white;
            }

            .description {
                color: #42536d;
            }


            .delete {
                color: #723636;
            }

            input[value="Edit"] {
                color: #d58957;
            }

            .yes { 
                color: white;
                background-color: #8d9c95;
            }

            .no {
                color: white;
                background-color: #e5c69a;
            }

            .b {
                color: white;
                background-color: #272236;
            }

            .c {
                color: white;
                background-color: #89a0ae;
            }

            .t {
                color: white;
                background-color: #d5c9bd;
            }

            .m {
                color: white;
                background-color: #eccac1;
            }
        </style>
    </head>
    <body class="bg-gray-50" background="https://my.byu.edu/uPortal/media/skins/universality/byu/images/body-linen.png">
        <header class="pl-16 p-4">
            <h1 class="font-normal-light text-white text-center text-4xl align-middle">Group Project 3</h1>
            <nav class="font-normal-light text-white text-right"><a href="/">Home</a></nav>
        </header>
        <div class="flex flex-col" style="width: 900px; margin: auto auto;">
            <h1 class="font-bold text-5xl mb-8 mt-8 place-self-center">Vehicle Inventory System</h1>
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="">
                            <tr>
                                <th scope="col" class="relative px-6 py-3">
                                    <span class="sr-only">Delete</span>
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white-500 uppercase tracking-wider">Description</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white-500 uppercase tracking-wider">Type</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white-500 uppercase tracking-wider">Year</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white-500 uppercase tracking-wider">Mileage</th>
                                <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-white-500 uppercase tracking-wider">Still Using?</th>
                                <th scope="col" class="relative px-6 py-3">
                                    <span class="sr-only">Edit</span>
                                  </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            <% for (let iCount = 0; iCount < myVehicles.length; iCount++) { %>
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <form action="/deletevehicle/<%= myVehicles[iCount].vehicle_id %>" method="POST">
                                            <div class="border-red-400 rounded-md">
                                                <input type="submit" value="Delete" name="Delete" class="bg-white text-sm font-medium delete hover:text-red-800">
                                            </div>
                                        </form>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium description"><%= myVehicles[iCount].vDescription %></td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full py-0.5 <%= myVehicles[iCount].vType == "T" ? "t" : myVehicles[iCount].vType == "C" ? "c" : myVehicles[iCount].vType == "B" ? "b" : "m" %>"><%= myVehicles[iCount].vType %></span>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm description"><%= myVehicles[iCount].vYear %></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm description"><%= myVehicles[iCount].vMileage %></td>
                                    <td class="px-6 py-4 flex justify-center">
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full py-0.5 <%= myVehicles[iCount].vStillUsing == "Y" ? "yes" : "no" %>"><%= myVehicles[iCount].vStillUsing %></span>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium text-indigo-600 hover:text-indigo-900">
                                        <form action="/editvehicle/<%= myVehicles[iCount].vehicle_id %>" method="GET">
                                            <input type="submit" value="Edit" name="edit" class="bg-white">
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <form action="/addvehicle" method="GET">
                <button type="submit" class="text-white px-6 py-3 rounded-lg mt-5 shadow-md">Add Vehicle</button>
            </form>
        </div>
        <footer>
            <span class="align-middle">
                <div>Contact</div>
                <div>Call or Text: 801-422-4636 </div>
                <div class="block">Email:<a href="mailto:weluvkars@gmail.com"> weluvkars@gmail.com</a></div>
                <div>Copyright © Team Amazing 2021</div>
            </span>
        </footer>
    </body>
</html>    
